<%-include('../../partials/Header')%>
<%-include('../../partials/Navbar')%>

<body>
    <div class="container">
        <hr>

        <div class="card">
            <div class="card-header">
                <h2>Edit the Article</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</body>
<%-include('../../partials/Footer')%>