<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>

    <!-- Menu -->
    <!-- navbar-nav Create the menu -->
    <!-- mr-auto margin rigth -->
    <ul class="navbar-nav mr-auto">
        <!-- nav-item crea -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
        </li>
    </ul>
</nav>